$font-stack: 'Open Sans', Roboto,'Helvetica Neue',sans-serif;

@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800);

body {
  margin: 0;
  font-family: $font-stack;
}
h1 {
  font-weight: 800;
}
header {
  width: 100%;
  margin: 0;
  
  .header {
    position: relative;
    max-width: 1440px;
    height: 95px;
    margin: 0 auto;
    background-color: #005BFF;
    *{
      display: inline-block;
    }
    .tel {
    float: right;
    margin: 34px 61px;
    color: #fff;
    font-size: 18px;
    }
  }
}
#logo {
    width: 198px;
    margin: 22px 61px;
}
.header a {
    margin: 0px 39px 0 0;
}
.header a:not([href]):not([tabindex]), .header a:not([href]):not([tabindex]):focus, .header a:not([href]):not([tabindex]):hover {
  color: #fff;
  cursor: pointer;
}
.page-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  img {
    width: 20rem;
  }
}
section {
  width: 100%;
  margin: 0;
  .content {
  margin: 0 65px;
  }
}
section#sector1 {
  background-color: #f2f2f2;
}
section#sector2 {
  background-color: #ffffff;
  .content{
    .mosaic-item {
      float: left;
    }
  }
}
section#sector3 {
  background-color: #f2f2f2;
}
section#sector4 {
  background-color: #005BFF;
}

*, :after, :before {
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}
section:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.flex-content {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-content: stretch;
  h1 {
    width: 50%;
    margin: 172px 0 0 112px;
    font-size: 64px;
    text-align: left;
    line-height: 1.1;  
  }
  div {
    width: 40%;
    font-size: 21px;
    text-align: left;
    margin: 178px 149px 0px 112px;
    flex-direction: column;
    position: relative;
    
    a.sertificates {
      position: absolute;
      bottom:0;
      }
    }
  }
a.sertificates:after{
  content:"";
    position: absolute;
    background: url(../img/arrow3.png);
    width: 15px;
    height: 36px;
    top: -8px;
    right: -20px;
}
#sector1 .button-content {
  margin: 117px 0 181px 0;}
#sector1 .button {
  border: 3px solid #005bff;
  color: #005bff;
  margin: 0px 31px 0px 0px;
  padding: 18px 197px;
  font-size: 27px;
}
#sector1 .button.button-activ {
  padding:19px 168px;
  
}
#sector2 .content h1 {
    font-size: 64px;
    margin: 179px 219px 100px 104px;
    text-align: left;
    line-height: 1.1;
}
.mosaic-item {
    margin: 44px 76px 96px 40px;
}
section#sector3 .content {
    margin: 0 65px;
    padding: 30px 0 0 0;
}
#sector3 .content h1 {
    font-size: 64px;
    margin: 156px 83px 15px 107px;
    text-align: left;
    line-height: 1.1;
}
#sector3 .content:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.textmosaic {
    width: 300px;
    float: left;
    margin: 41px 63px 0px 100px;
    text-align: left;
}
.textmosaic h2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.1;
}
section#sector4 .content.content-title { 
    padding: 150px 0 0 0;

}
#sector4 .content h1 {
    font-size: 74px;
    margin: 41px 0 0px 114px;
    text-align: left;
    line-height: 1;
    color: #fff;
}
section#sector4 .content{
  color: #fff;}
.content-num * {
  display: inline;
  color:#fff;
}
.content.content-num {
    margin: 100px 10px 116px 30px;
}
.shops {
  width: 200px;
  float: left;
  margin: 10px 0px 40px 137px;
}
.shops h2 {
    font-size: 21px;
    text-align: left;
}
.shops p {

    text-align: left;
}
.shops a {
    text-align: left;
}
.numblock {
  color: #fff;
}
.numblock span{
  font-size: 60px;
  font-weight: 800;
}
.numblock p {
  display: inline-block;
  width: 109px;
  height: 40px;
  margin: 0 120px 0 0px;
  padding: 0px 0px 0 8px;
  text-align: left;
  position: relative;
}
.numblock p:after{
  content:"";
  position: absolute;
  top:-6px;
  right: -20px;
    width: 25px;
    height: 62px;
    z-index: 3;
  z-index: 3;
  background: url(../img/arrow.png);
}
.content.prise {
    font-weight: 800;
    font-size: 20px;
    margin: 0 21px 39px 203px;
    text-align: left;
}
.textmosaic.svg-wrapper {
    position: relative;
    margin-bottom: 129px;
}
.svg-anim {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50px;
  left: 130px;

}
a.downl {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -3px;
  right: -50px;  
}
a.downl img {
    width: 64px;
    height: 95.4px;
}
path {
  stroke-dasharray: 400;
  animation: animateMe linear 4s normal forwards;
  animation-iteration-count: infinite;
}
h1.animated {
  opacity: 1;
  top: 0; }
#sector1 .button {
  transition: all 1s ease; 
}
#sector1 .button:hover {
  color: #fff;
  background: #005bff;
  text-decoration: none;
  transition: all 0.3s ease; 
}
a {
  transition: all 0.3s ease; 
}
a:hover {
  opacity:.5;
  transition: all 0.3s ease; 
}
.mosaic-item p {
    width: 200px;
    margin: 14px 10px 10px 74px;
    font-size: 21px;
    text-align: left;
}
@keyframes animateMe {
 0% { stroke-dashoffset: 400; }
 100% { stroke-dashoffset: 0; }
}

@media screen and (max-width: 1440px) {
  header .header .tel {
    margin: 34px 3vw;
    font-size: 1.5vw;
}

    .flex-content h1 {
    width: 50%;
    margin: 16vw 0 0 3vw;
    font-size: 4vw;
    line-height: 1.1;
  }
  .flex-content div {
    width: 50%;
    margin: 17vw 0 0 10vw;
    font-size: 2vw;
    line-height: 1.1;
  }

  .flex-content div a.sertificates {
      bottom: -2vw;
  }
  .page-container img {
      width: 23vw;
  }
  #sector1 .button-content {
    margin: 117px 0 181px 0;}
  #sector1 .button {
    margin: 0 2vw 0 0;
    padding: 1.5vw 16vw;
    font-size: 2vw;
  }
  #sector1 .button.button-activ {
     padding: 1.5vw 16vw;

  }
  #sector2 .content h1 {
      font-size: 4vw;
      margin: 4vw 5vw 4vw 4vw;
      line-height: 1.1;
  }
  .mosaic-item {
      margin: 1vw 0vw 3vw 0vw;
  }
  section#sector3 .content {
      margin: 0 4vw;
      padding: 3vw 0 0 0;
  }
  #sector3 .content h1 {
      font-size: 4.5vw;
      margin: 4vw 5vw 4vw 4vw;
      line-height: 1.1;
  }
  #sector3 .content:after {
      height: 0;
  }
  .textmosaic {
      width: 300px;
      margin: 4vw 5vw 4vw 4vw;
  }
  .textmosaic h2 {
      font-weight: 800;
      font-size: 30px;
      line-height: 1.1;
  }
  section#sector4 .content.content-title { 
      padding: 150px 0 0 0;

  }
  #sector4 .content h1 {
      font-size: 4.5vw;
      margin: 4vw 5vw 4vw 4vw;
      line-height: 1;
  }
  section#sector4 .content{
  }
  .content-num * {
  }
  .content.content-num {
      margin: 4vw 5vw 4vw 4vw;
  }
  .shops {
    width: 200px;
    margin: 4vw 5vw 4vw 4vw;
  }
  .shops h2 {
      font-size: 1.5vw;
  }
  .shops p {
  }
  .shops a {
  }
  .numblock {
  }
  .numblock span{
    font-size: 4vw;
    font-weight: 800;
  }
  .numblock p {
    width: 109px;
    height: 40px;
    margin: 0 5vw 0 0px;
    padding: 0px 0px 0 0.2vw;
  }
  .numblock p:after{
     top: -6px;
    right: -1vw;
    width: 2vw;
    height: 4.5vw
  }
  .content.prise {
      font-weight: 800;
      font-size: 20px;
      margin: 0 1vw 3vw 6vw;
  }
  .textmosaic.svg-wrapper {
      margin-bottom: 6vw;
  }
  .svg-anim {
    width: 4vw;
    height: 4vw;
    top: 5vw;
    left: 15vw;

  }
  a.downl {
    width: 4vw;
    height: 4vw;
    top: 0;
    right: -6vw;  
  }
  a.downl img {
      width: 4vw;
      height: 5vw;
  }
  path {
    stroke-dasharray: 400;
  }
  h1.animated {
    opacity: 1;
    top: 0; }
  #sector1 .button {
  }
  #sector1 .button:hover {
  }
  a {
  }
  a:hover {
  }
  .mosaic-item p {
      width: 200px;
      margin: 1vw 0.5vw 0.5vw 5vw;
      font-size: 21px;
  }
      .header a, .tel {
      font-size: 1.2vw;
    }
    .header a {
      margin: 0 1.2vw 0 0;
    }
}
.menu {
  display: none;
}
@media  screen and(max-width: 768px) {
    .header a {
      display: none;
    }
      #logo {
        width: 13vw;
        margin: 39px 5vw;
    }
  header .header .tel {
    float: none;
    margin: 34px 3vw;
    font-size: 2.5vw;
}


.menu {
    display: block;
    margin: 0 auto;
    padding-left: 3.25em;
    position: absolute;
    top: 22px;
    right: 29px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    padding-left: 3.25em;
    position: absolute;
    top: 22px;
    right: 29px;
    width: 40px;
    height: 40px;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 7px solid white;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 18px;
}
.menu-bottom {
  top: 36px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}
}