$font-stack: -apple-system, BlinkMacSystemFont,Roboto,'Open Sans','Helvetica Neue',sans-serif;

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  margin: 0;
  font-family: $font-stack;
}
#logo {
  width: 10rem;
}
.container {
position: relative;
max-width: 1440px;
margin: 0 auto;
  img {
    width: 20rem;
  }
}
section {
  width: 100%;
  margin: 0;
  .content {
  margin: 0 65px;
  }
}
section#sector1 {
  background-color: #f2f2f2;
}
section#sector2 {
  background-color: #ffffff;
}
section#sector3 {
  background-color: #f2f2f2;
}
section#sector4 {
  background-color: #005BFF;
}
* {
    outline: 1px solid red;
}
*, :after, :before {
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}
@media (min-width: 1440) {
  
}